ion-content {
    display: flex;
    justify-content: center; /* Centra verticalmente si necesitas */
    align-items: center; /* Centra horizontalmente */
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Asegura que los botones estén en la parte inferior */
    width: 100%;
    padding: 32px; /* Espacio a los lados */
    gap: 16px; /* Espacio entre input-container y button-container */
    height: 100%; /* Asegura que el contenedor ocupe todo el espacio disponible */
 }

$primary-color: #6a0dad;
$secondary-color: #ffffff;
$accent-color: #007bff;

.login {
  background-color: $primary-color;
  height: 100%;
  color: $secondary-color;
  position: relative;

  .input-container {
    ion-item {
      background-color: $secondary-color;
      border-radius: 8px;
      margin-bottom: 15px;
    }

    ion-input {
      color: $primary-color;
    }
  }

  .button-container {
    ion-button {
      background-color: $accent-color;
      color: $secondary-color;
      margin-bottom: 10px;
      
      &:hover {
        background-color: darken($accent-color, 10%);
      }
    }
  }
}
