<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" id="icon-button" (click)="onIconButtonClick()">
        <ion-icon name="person-circle-outline"></ion-icon>
        <p>Email recibido: {{ email }}</p>
      </ion-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Contenido aquí -->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <div class="footer-icons">
        <ion-button fill="clear" id="controller-button">
          <i class="fa-solid fa-gamepad"></i> <!-- Cambié a fa-gamepad -->
        </ion-button>
        
        <ion-button fill="clear" id="controller-button">
          <i class="fa-solid fa-book"></i> <!-- Cambié a fa-gamepad -->
        </ion-button>

        <ion-button fill="clear" id="controller-button">
          <i class="fa-solid fa-film"></i> <!-- Cambié a fa-gamepad -->
        </ion-button>
        
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
